.app {
    margin-bottom: 100px;
}

.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-icon-grid {
    padding-top: 10px;
}

.header-drawer {
  background-color: #007ac9;
}

